@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #d9dcdf;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.main-container::-webkit-scrollbar {
  width: 12px;
}
.main-container::-webkit-scrollbar-thumb {
  background-color: #475569;
  border: 3px solid #2c3b4f;
  border-radius: 10px;
}
.main-container::-webkit-scrollbar-track {
  background: #4f667c;
}

.X-main {
  height: calc(100vh - 2rem);
}

@media screen and (max-width: 768px) {
  .X-main {
    height: calc(100vh - 4rem);
  }
}

.sidePanel {
  width: 150px;
  transition: width 0.2s;
}

.menu {
  left: 0;
  transition: all 0.2s;
  border-radius: 0 10px 10px 0;
}

@media screen and (max-width: 976px) {
  .sidePanel {
    width: 0;
  }
  .sidePanel.open {
    width: 150px;
  }

  .menu.menu-open{
    left: 150px;
    transform: scale(-1);
    border-radius: 10px 0 0 10px;
  }
}
